html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.26);
    padding-bottom: 60px;
}

nav{
    padding: 10px 30px;
}
.nav-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
#title{
    color: red;
    font-size: 20px;
    position: relative;
    top: 30px;
    left: 30px;
}
.div1{
    border-bottom: 2px solid rgba(128, 128, 128, 0.26);
    padding: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.div2{
    border-bottom: 2px solid rgba(128, 128, 128, 0.26);
    padding: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.div1-div2{
    padding-left: 30px;
    position: relative;
    bottom: 10px;
}
.input-1{
    width: 500px;
    height: 20px;
    margin-left: 100px;
}
.input-1:focus{
    outline:rgb(0, 238, 255) 2px;
}
.input-2{
    width: 500px;
    height: 20px;
    margin-left: 28px;
}
.input-2:focus{
    outline:rgb(0, 238, 255);
}
.input-3{
    width: 500px;
    height: 20px;
    margin-left: 72px;
}
.input-3:focus{
    outline:rgb(0, 238, 255) 2px;
}
.input-4{
    width: 500px;
    height: 20px;
    margin-left: 66px;
}
.input-4:focus{
    outline:rgb(0, 238, 255) 2px;
}
.input-5x{
    width: 219px;
    height: 20px;
    margin-left: 49px;
}
.input-5y{
    width: 219px;
    height: 20px;
    margin-left: 16px;
}
.label-5y{
    margin-left: 15px;
}
.input-6{
    width: 500px;
    height: 20px;
    margin-left: 105px;
}
.select-1{
    width: 508.5px;
    height: 25px;
    margin-left: 139px;
}
.select-2{
    width: 508.5px;
    height: 25px;
    margin-left: 160px;
}
.select-3{
    width: 508.5px;
    height: 25px;
    margin-left: 126px;
}
.select-4{
    width: 508.5px;
    height: 25px;
    margin-left: 94px;
}
.select-5{
    width: 508.5px;
    height: 25px;
    margin-left: 150px;
}
.select-6{
    width: 508.5px;
    height: 25px;
    margin-left: 118px;
}
.div-2-div-2{
    padding-left: 30px;
    margin-top: 40px;
    justify-content: space-between;
}
.button{
    background-color: rgb(47, 132, 244);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 576px;
    border-radius: 3px;
    border: 2px solid transparent;
}
.button:hover{
    background-color: rgb(9, 112, 246);
}