body{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

nav{
    padding: 10px 30px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-list li{
    list-style: none;
    padding: 10px;
}
.logo1{
    position: relative;
    margin-left: 800px;
    margin-top: 200px;
}

.button1{
    position: relative;
    background-color: rgba(183, 183, 183, 0.226);
    border: none;
    font-size: 16px;
    width: 190px;
    padding: 10px;
    margin-top: 35px;
    margin-left: 838px;
    border:1px solid transparent;
    border-radius: 5px
}

.button1:hover{
    border:1px solid rgba(29, 29, 29, 0.117);
    box-shadow: 1px 1px 4px 0px #0000000d;
}

#image{
    color: #4285f4;
    font-size: 16px;
    font-family: 'Arial';
    position: relative;
    right: 61px;
}

.input1{
    width: 630px;
    height: 50px;
    position: relative;
    margin-left: 607px;
    margin-top: 30px;
    border: none;
    box-shadow: 0px 0px 5px 0px #00000069;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 16px;
}

.input1:focus{
    outline: none;
}